<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ m_title }}!
  </h1>
</div>

<form class="ui large form segment">
  <h3 class="ui header">Add a new link...</h3>
  <div class="field">
    <label for="title">Add a title...</label>
    <input name="title" #newtitle>
  </div>
  <div class="field">
    <label for="link">Add a link...</label>
    <input name="link" #newlink>
  </div>
  <button (click)="addArticle(newtitle,newlink)" class="ui positive right floated button">Add a new article...</button>
</form>

<div class="ui grid posts">
<app-article></app-article>
</div>
